<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zane.bookadmin.mapper.PublisherMapper">
  <resultMap id="BaseResultMap" type="com.zane.bookadmin.pojo.Publisher">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, code
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from publisher
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="findAll" resultType="com.zane.bookadmin.pojo.Publisher">
    select
    <include refid="Base_Column_List" />
    from publisher
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from publisher
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.zane.bookadmin.pojo.Publisher" useGeneratedKeys="true">
    insert into publisher (`name`, code)
    values (#{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.zane.bookadmin.pojo.Publisher" useGeneratedKeys="true">
    insert into publisher
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="code != null">
        code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.zane.bookadmin.pojo.Publisher">
    update publisher
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zane.bookadmin.pojo.Publisher">
    update publisher
    set `name` = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>